<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<meta name="description" content="Passwords">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Risingdam B.V.">
		<title>Password Generator</title>
		<link href="/password.css" rel="stylesheet" type="text/css" />
	</head>
	
	<body>
		<h1>Password Generator</h1>
		
		<p><strong>{{0}}</strong> characters, with and without punctuation
			<div class="block">
				<span class="box">{{1}}</span>
			</div>
			<div class="block">
				<span class="box">{{2}}</span>
			</div>
		</p>
		<p><br><strong>{{3}}</strong> characters, with and without punctuation
			<div class="block">
				<span class="box">{{4}}</span>
			</div>
			<div class="block">
				<span class="box">{{5}}</span>
			</div>
		</p>
		<p><br><strong>{{6}}</strong> characters, with and without punctuation
			<div class="block">
				<span class="box">{{7}}</span>
			</div>
			<div class="block">
				<span class="box">{{8}}</span>
			</div>
		</p>
	
        <a href="https://github.com/thisisleonist/password-generator" target="_blank" rel="noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#A54AB1" fill-rule="evenodd" d="M16 0C7.2 0 0 7.3 0 16.4 0 23.7 4.6 29.8 11 32c.7.1 1-.4 1-.8v-2.8c-4.4 1-5.4-2.2-5.4-2.2-.7-1.9-1.8-2.4-1.8-2.4-1.4-1 .2-1 .2-1 1.6.1 2.4 1.7 2.4 1.7 1.4 2.5 3.8 1.8 4.7 1.3.1-1 .5-1.7 1-2.1-3.6-.5-7.3-1.9-7.3-8.2 0-1.7.6-3.2 1.6-4.4a6 6 0 01.2-4.3s1.3-.4 4.4 1.7a15 15 0 018 0c3-2.1 4.4-1.7 4.4-1.7a6 6 0 01.2 4.3c1 1.2 1.6 2.7 1.6 4.4 0 6.3-3.7 7.7-7.3 8.1.6.5 1 1.5 1 3v4.6c0 .4.4 1 1.2.8C27.4 29.8 32 23.7 32 16.4 32 7.4 24.8 0 16 0"/></svg>password-generator
		</a><br /><a class="host" href="https://www.amezmo.com/" target="_blank" rel="noopener">Hosting by Amezmo</a>
	
    	<script src="/password.js" type="application/javascript" defer></script>
	
    </body>

</html>